html {
  scroll-behavior: smooth;
}
body {
  background-color: #eeef;
  margin: 0;
padding: 0;
height: 100%;
}

.web_container {
  border-style:solid;
  border-width:10px;
  border-color: #fff;
  position: static;
}

.topnav {
  overflow: hidden;
  background-color: #ffff;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: rgba(255,173,51,0.8);
}

.topnav a.active {
  background-color: #fffff;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url('untitled--2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin:  auto;
}

.one {
  width: 80%;
  height: 100%;
  float: left;
}

.logo {
  width: 50%;
  margin: 50 0;
  height: 35%;
  position: relative;
  background: rgba(0,0,255,0.8);   /* Remove this line to see preview */
}

.two {
  width: 20%;
  height: 100%;
  float: right;
}

.btn{
  margin: 60 60 0 0
}

.meal_plan {
  position: static;
  width: 100%;
  height: 150%;
  background: rgba(191,236,145,0.8);
  margin: auto;
}

.contact {
  position: relative;
  width: 100%;
  height: 60%;
  background: rgba(145,191,236,0.8);
  margin: auto;
}

.footer {
  position: relative;
  width: auto;
  height: 17%;
  background: rgba(0,0,255,0.8);
  padding: 1%;
}

.footer-right {
  width: 33%;
  height: 100%;
  background: rgba(255,0,0,0.8);   /* Remove this line to see preview */
  float: right;
}

.footer-left {
  width: 33%;
  height: 100%;
  background: rgba(255,0,0,0.8);   /* Remove this line to see preview */
  float: left;
  line-height:10%;
}

.white_lines {
  position: relative;
  width: 0%
  height: 2%;
  background: #eeef;
}

.fyw h4{
    color: white;
    margin: 100 0 0 50;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}

.f2020 h4{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    transform: rotate(-90deg);


}

.mpy h4{
    color: white;
    margin: 350 0 0 50;
    font-family: 'Righteous', cursive;
    font-size: 2em;
    background:rgba(0,0,0,0) ;
}
