html {
  scroll-behavior: smooth;
}
body {
  background-color: #eeef;
  margin: 0;
padding: 0;
height: 100%;
}

.web_container {
  border-style:solid;
  border-width:10px;
  border-color: #fff;
  position: static;
}

#navbar {
  overflow: hidden;
  background-color: #FFFF;
  width: 100%;
  height: 10%;
  vertical-align: middle
}

#navbar a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

#navbar p {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

#navbar a:hover {
  color: rgba(255,173,51,0.8);
  text-decoration: underline;
  text-underline-position: under
}

#navbar a.active {
  font-family: 'Open Sans', sans-serif;
  color: rgba(255,173,51,0.8);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.container {
  width: 100%;
  height: 100%;
  background-image: url('untitled--2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin:  auto;
}

.one {
  width: 80%;
  height: 100%;
  float: left;
}

.logo {
  width: 50%;
  margin: 50 0;
  height: 35%;
  position: relative;
  background: rgba(0,0,255,0.8);   /* Remove this line to see preview */
}

.two {
  width: 20%;
  height: 100%;
  float: right;
}

.btn{
  margin: 60 60 0 0
}

.meal_plan {
  position: static;
  width: 100%;
  height: 150%;
  background: rgba(191,236,145,0.8);
  margin: auto;
}

.contact {
  position: relative;
  width: 100%;
  height: 60%;
  background: rgba(145,191,236,0.8);
  margin: auto;
}

.footer {
  position: relative;
  width: auto;
  height: 17%;
  background: rgba(0,0,255,0.8);
  padding: 1%;
}

.footer-right {
  width: 33%;
  height: 100%;
  background: rgba(255,0,0,0.8);   /* Remove this line to see preview */
  float: right;
}

.footer-left {
  width: 33%;
  height: 100%;
  background: rgba(255,0,0,0.8);   /* Remove this line to see preview */
  float: left;
  line-height:10%;
}

.white_lines {
  position: relative;
  width: 0%
  height: 2%;
  background: #eeef;
}

.fyw h4{
    color: white;
    margin: 100 0 0 50;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
}

.f2020 h4{
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    transform: rotate(-90deg);


}

.mpy h4{
    color: white;
    margin: 350 0 0 50;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    background:rgba(0,0,0,0) ;
}
